.home-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding-bottom: 70px;
   height: 100%;
}

.home-info {
   text-align: center;
}

.home-info-title {
   font-size: 50px;
   line-height: 75px;
   letter-spacing: -0.015em;
   color: #FFFFFF;
   margin-top: 50px;
}

.home-info-subtitle {
   font-size: 20px;
   line-height: 33px;
   letter-spacing: -0.015em;
   color: #F2F2F2;
   margin-bottom: 20px;
}

/* Styling Home componenent after 950px*/
@media(min-width: 950px) {
   .home-container {
      flex-direction: row;
      justify-content: space-around;
      height: 100vh;
      align-items: unset;
      padding-top: 50px;
   }

   .home-info,
   .home-login {
      width: 50%;
   }

   .home-info {
      text-align: unset;
      margin-left: 140px;
   }

   .home-info-title {
      margin-top: 25px;
   }

   .home-info-subtitle {
      margin-top: 20px; 
   }
}

/* Styling LoginCard and ButtonLogin before 950px */
@media(max-width: 950px) {
   /* LoginCard component */
   .login-card {
      width: 420px;
      height: 450px;
      margin-top: 50px;
   }

   .login-card-title {
      margin-top: 25px;
      text-align: center;
      letter-spacing: -0.015em;
      color: #FFFFFF;
   }

   .username-input {
      margin-top: 30px;
   }

   /* ButtonLogin component */
   .btn {
      margin: 50px 0;
      align-self: center;
   }

   .btn-login {
      padding: 10px;
      height: 50px;
      width: 200px;
   }

   .btn-login-title {
      font-weight: bold;
      font-size: 20px;
   }
   
   .btn-arrow {
      height: 50px;
      width: 50PX;
   }
}